<div class="editDialog">
  <h1>
    Editing day
    <!--{{index+1}}-->
  </h1>
  <div class="timeSelector">
    <form [formGroup]="editForm" class="timeSelector">
      <!--selettore della data-->
      <div id="dateSelector">
        <div class="desktop" *ngIf="appear">
        <mat-form-field  appearance="fill">
        <input
          matInput
          [matDatepicker]="datepicker"
          formControlName="dateInput"
          
        />
      </mat-form-field>
      <mat-datepicker-toggle
          matSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button
              mat-raised-button
              color="primary"
              matDatepickerApply
              (click)="calcolagiorno()"
            >
              Apply
            </button>
          </mat-datepicker-actions>
        </mat-datepicker>
        </div>
        <div class="mobile" *ngIf="!appear">


        <mat-form-field  >
          
          <input
            matInput
            [matDatepicker]="datepicker"
            formControlName="dateInput"
            
          />
        </mat-form-field>
        <mat-datepicker-toggle
            matSuffix
            [for]="datepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button
                mat-raised-button
                color="primary"
                matDatepickerApply
                (click)="calcolagiorno()"
              >
                Apply
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </div>
      </div>
      <!--selettore dell'ora-->
      <div class="timeInput">
        <p>From</p>
        <input type="time" formControlName="timeStart" />
        <p>To</p>
        <input type="time" formControlName="timeEnd" />
      </div>
    </form>
  </div>

  <div class="functionButton">
    <button type="button" mat-button mat-dialog-clos>cancel</button>
    <button mat-button mat-dialog-clos>save</button>
  </div>
</div>
