<div class="editDialog">
  
  <div class="timeSelector">
  
    <form [formGroup]="editForm" class="timeSelector">
      <div class="header">
        <div class="title">
        <h2>Edit day:</h2> <input
            type="text"
            id="name"
            name="name"
            requiredminlength="4"
            maxlength="8"
            size="10"
            formControlName="titleInput"
          />
        </div>
      </div>
      <!--selettore della data-->
      <div id="time">
      <div id="dateSelector">
        <div class="desktop" *ngIf="appear">
          <mat-form-field appearance="outline">
            <mat-label>inserisci papa</mat-label>

            <input matInput [matDatepicker]="datepicker" formControlName="dateInput"/>
            <mat-datepicker-toggle
              matSuffix
              [for]="datepicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button
                  mat-raised-button
                  color="primary"
                  matDatepickerApply
                  (click)="calcolagiorno()"
                >
                  Apply
                </button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
        </div>
        <mat-form-field class="mobile" *ngIf="!appear">
        
          <div class="hoverDate">
            <input
              matInput
              [matDatepicker]="datepicker"
              formControlName="dateInput"
              style="display:none"
            />
          </div>
          
          <mat-datepicker-toggle
            matSuffix
            [for]="datepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button
                mat-raised-button
                color="primary"
                matDatepickerApply
                (click)="calcolagiorno()"
              >
                Apply
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        
        </mat-form-field>
      </div>

      <!--selettore dell'ora-->
      <div class="timeInput">
        <p>From</p>
        <input type="time" formControlName="timeStart" />
        <p>To</p>
        <input type="time" formControlName="timeEnd" />
      </div>
    </div>
      <div class="textArea">
        <textarea></textarea>
      </div>
    </form>
  </div>

  <div class="functionButton">
    <button type="button" mat-button mat-dialog-clos>cancel</button>
    <button mat-button mat-dialog-clos>save</button>
  </div>
</div>
